/* #36454f  - dark gray background behind TN Disc logo
#FF3847 - orange/red
#75C7FB light blue;
#233142 dark background;
*/

.formContainer {
    margin: 2% 32% 0% 32%;
}
.formContainer h3 {
    margin: 0vw 0vw 1vw 0vw;
}
.discForm {
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 1vw;
    box-shadow: 0 .4vw .8vw 0 rgba(0,0,0,0.6);
}
.discForm Label {
    font-weight: bold;
}

.discForm h3 {
    display: flex;
    justify-content: center;
}

.flightNumbers {
    display: flex;
    width: 100%;
}
.nameAndPlastic {
    display: flex;
    width: 100%;
}
.weightAndPrice {
    display: flex;
    width: 100%;
}

.discListPageContainer {
    width: 80%;
    margin: auto;
    /* animation: 
        flyIn .6s ease-out; */
}

@keyframes flyIn {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%)
    }
}

.add-disc-container {
    display: flex;
    flex-direction: column;
    background-color: 	#F0F0F0;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.disc-list {
    display: flex;
    background-color: 	#F0F0F0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.image_div img {
    min-width: 100%;
    max-height: 12vw;
    margin-bottom: .25vw;
    display: flex;
    justify-content: center;
}


.discDetailContainer {
    width: 65%;
    justify-content: center;
    margin: auto;
    margin-top: 1.5vw;
    display: flex;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 .4vw .8vw 0 rgba(0,0,0,0.6);
    border-radius: 10px;
}

.discDetailLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: .5vw 1vw .5vw 1vw;
    align-self: center;
}

.discDetailImage img {
    width: 100%;
}

.discDetailFlightNums {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    font-size: 1vw;
}
.speedContainer {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-weight: bold;
    width: 25%;
    height: 3.2vw;
}
.speedLabel {
    margin: .1vw .5vw .1vw .5vw;
    display: flex;
    justify-content: center;
}
.speedValue {
    display: flex;
    justify-content: center;
    margin: -.25vw .5vw .2vw .5vw;
}
.glideContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 138, 247);
    font-weight: bold;
    width: 25%;
    height: 3.2vw;
}
.glideLabel {
    margin: .1vw .5vw .1vw .5vw;
    display: flex;
    justify-content: center;
}
.glideValue {
    display: flex;
    justify-content: center;
    margin: -.25vw .5vw .2vw .5vw;
}
.turnContainer {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    font-weight: bold;
    width: 25%;
    height: 3.2vw;
}
.turnLabel {
    margin: .1vw .5vw .1vw .5vw;
    display: flex;
    justify-content: center;
}
.turnValue {
    display: flex;
    justify-content: center;
    margin: -.25vw .5vw .2vw .5vw;
}
.fadeContainer {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    font-weight: bold;
    width: 25%;
    height: 3.2vw;
}
.fadeLabel {
    margin: .1vw .5vw .1vw .5vw;
    display: flex;
    justify-content: center;
}
.fadeValue {
    display: flex;
    justify-content: center;
    margin: -.25vw .5vw .2vw .5vw;
}


.discDetailRight {
    width: 55%;
    padding: 1vw 2vw 2vw 2vw;
    align-self: center;
}

.discDetailDiscName {
    margin-bottom: 2vw;
}
.discDetailPrice {
    font-size: 1.1vw;
}
.discDetailWeight {
    font-size: 1vw;
}
.discDetailDescription {
    font-size: 1vw;
}
.discDetailCondition {
    font-size: 1vw;
}

.flightNumsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flightNum {
    background-color: orange;
    color: black;
    font-weight: bold;
    padding: .25vw;
    margin: .5vw .1vw .5vw .1vw;
    border-radius: 100%;
    width: 2.5vw;
    font-size: 1.05vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.DetailsButtonDiv {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.DetailsButton {
    background-color: black;
    color: white;
    border: 2pxw solid black;
    border-radius: 12px;
    width: 55%;
}

.card-disc {
    border: 1px solid black;
    box-shadow: 0 .4vw .8vw 0 rgba(0,0,0,0.6);
    border-radius: .5vw; 
    margin: 0vw .25vw 1vw .25vw;
    width: 20%;
    z-index: 1;
}

.card-disc-content {
    margin: 1vw;
}

.card-disc-name {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: -.5vw;
}


.discDetailButton {
    margin-right: 1vw;
}

.discDetailButtons {
    display: flex;
    align-items: center;
}

.tag {
    margin-right: .25vw;
    margin-bottom: 1vw;
}


.addDiscButton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchDiv {
    display: flex;
}

.searchDiv Input {
    height: 100%;
}

.searchButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #FF3847;
    width: 3vw;
    border-radius: 4px;
}

.searchButton i {
    margin: auto;
}

.searchButton i:hover {
    color: #75C7FB;
}

.discsButton:hover {
    color: blue;
}


.tag {
    margin: 0vw .3vw .3vw 0vw;
}

/* #36454f  - dark gray background behind TN Disc logo
#FF3847 - orange/red
#75C7FB light blue;
#233142 dark background;
*/

#imageSubmitButton {
    width: 30%;
}
