.textOnPicContainer {
    position: relative;
    left: 55vw;
    top: 5vw;
    width: 22vw;
}
.textOnPicHeader {
    position: relative;
    left: 7vw;
    top: -26vw;
    color: white;
    font-weight: bold;
    font-size: 3.8vw;
}
.textOnPic {
    color: white;
    position: relative;
    left: 7.5vw;
    top: -26vw;
    font-size: 1.2vw;
    width: 80%;
}

.home_container {
    width: 100%;
    background-color: #F0F0F0;
    margin-top: -.45vw;
}

.home {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.home_pic {
    margin: .5vw;
    align-content: center;
    justify-content: center;
}

.imgHome {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    width: 100%;
    z-index: -1;
}


.buttonOnPic {
    position: relative;
    left: 76%;
    top: -21.5vw;
    font-size: 1vw;
    background-color: #233142;
    color: #75C7FB;
    padding: .35vw;
    font-weight: bold;
    border: .1vw solid white;
    border-radius: 10px;
}
    
    
.buttonOnPic:hover {
    color: white;
    border-color: #75C7FB;
}

@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}


.homeAboutAndWhy {
    display: flex;
    width: 100%;
    color: black;
    background-color: #F0F0F0;
    margin-top: -17vw;
    line-height: 1.5;
}

.home_about {
    width: 50%;
    margin-top: 1vw;
    padding: 0vw .5vw .5vw .5vw;
}

.homeAboutAndWhy h2 {
    font-size: 1.3vw;
    background-color: #7BD4FF;
    padding: .25vw;
}
.homeAboutAndWhy p {
    font-size: 1vw;  
    padding: .25vw;
}
.homeAboutAndWhy img {
    width: 100%;
}

.home_why {
    width: 50%;
    margin-top: 1vw;
    padding: 0vw .5vw .5vw .5vw;
}