.home_container {
    width: 100%;
    background-color: #F0F0F0;
}

.home {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.home_pic {
    margin: .5vw;
    align-content: center;
    justify-content: center;
}

.imgHome {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    width: 100%;
    z-index: -1;
}

.textOnPic {
    color: white;
    position: relative;
    left: 5vw;
    top: -26.5vw;
    font-size: 2.75vw;
    font-weight: bold;
}
.buttonOnPic {
    position: relative;
    left: 72%;
    top: -8.5vw;
    font-size: 1.5vw;
    background-color: #233142;
    color: white;
    padding: 1vw;
    font-weight: bold;
    border: .2vw solid;
    border-radius: 8%;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
        
    }
    .buttonOnPic:hover {
    color: #7BD4FF;
    box-shadow: 0 0 .5vw white, 0 0 1vw white, 0 0 2vw white;
}

.homeAboutAndWhy {
    display: flex;
    width: 100%;
    color: black;
    background-color: #F0F0F0;
    margin-top: -5vw;
    line-height: 1.5;
}

.home_about {
    width: 50%;
    margin-top: 1vw;
    padding: 0vw .5vw .5vw .5vw;
}

.homeAboutAndWhy h2 {
    font-size: 1.3vw;
    background-color: #7BD4FF;
    padding: .25vw;
}
.homeAboutAndWhy p {
    font-size: 1vw;  
    padding: .25vw;
}
.homeAboutAndWhy img {
    width: 100%;
}

.home_why {
    width: 50%;
    margin-top: 1vw;
    padding: 0vw .5vw .5vw .5vw;
}