.cartContainer {
    /* margin: 2% 25% 0% 25%; */
    width: 50%;
    margin: auto;
    margin-top: 2%;
}
.cartHeader {
    margin: 0vw 0vw 1vw 0vw;
}

.productImage {
    width: 12%;
}

.productImage img {
    width: 100%;
}

.cartTotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.checkoutButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
    margin-bottom: 1.5vw;
}


.detailsButton {
    width: 100%;
}

.taxNote {
    font-size: .75vw;
    margin: -.25vw 0vw .25vw 0vw;
}

.emptyCartWrapper {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: auto;
    margin-top: 1vw;
    padding: 1vw;
}

.emptyCartWrapper Button {
    width: 100%;
}