.orderContainer {
    width: 40%;
    margin: auto;
    margin-top: 1%;
    border: 1px solid black;
}

.orderHeader {
    display: flex;
    justify-content: center;
    margin-top: -.5vw;
}

.orderForm {
    padding: 1.5vw 1.5vw 1vw 1.5vw;
    width: 100%;
}

.firstAndLastNames {
    display: flex;
    width: 100%;
}
.firstAndLastNames Input{
    margin-right: 5vw;
}
.countryAndAddress {
    display: flex;
    width: 100%;
}
.countryAndAddress select {
    margin-right: 5vw;
    width: 100%;
    height: 2.3vw;
}
.countryAndAddress Input {
    margin-left: .25vw;
    width: 170%;
}

.cityStateZip {
    display: flex;
    width: 100%;
}
.shipping {
    margin-bottom: 1vw;
}

.orderTotals {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 1vw;
}

.orderTotals p {
    margin-bottom: .25vw;
}

.orderTotals h5 {
    margin-top: .25vw;
}

.orderTotal h5 {
    border-top: 1px solid grey;
    border-bottom: 3px double grey;
}


.orderError {
    margin: 3vw 0vw 0vw 20vw;
}

.orderButtonContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


.orderEditForm {
    margin: auto;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vw;
    background-color: white;
}
.orderEditForm Label {
    font-weight: bold;
}

.updateOrderHeader {
    display: flex;
    justify-content: center;
}
.customer {
    margin-top: -.5vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
}