.pageWrapper{
    display: flex;
    width: 70%;
    margin: auto;
}

.newRoundContainer {
    width: 50%;
}

.pageContainer {
    width: 100%;
}

.puttTrackerHeader {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.fieldsetDiv {
    font-size: 1.35vw;
    justify-content: center;
    align-items: center;
}


.newRoundForm {
    font-weight: bold;
    margin: auto;
    padding: 2vw 3vw 2vw 3vw;
    border: .5vw solid;
    opacity: 99%;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
    animation: 
        rotate 3s ease-in infinite;
    z-index: 1;
    height: 19vw;
    width: 95%;
    background-color: #0d0f21;
    opacity: 99%;
}

.newRoundControls {
    display: flex;
    width: 98%;
    padding: .375vw;
    font-size: 1.25vw;
    font-style: italic;
    line-height: 1;
    color: #75C7FB;
    background-color:#0d0f21;
    border: .1vw solid #fffafa;
    border-radius: .25vw;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.newRoundGridDiv {
    display: grid;
    grid-template-columns: 28% 24% 24% 24%;
    justify-content: center;
    align-items: center;    
}

.newRoundGroup label {
    display: flex;
    flex-direction: flex-start;
    font-size: 1.3vw;
    color:#75C7FB;
}

.newRoundFormTitle {
    font-size: 2.2vw;
    color: #F0F0F0;
    margin: 0vw 0vw 1.5vw 0vw;
    display: flex;
    justify-content: flex-start;
}

.submitRoundButton {
    display: flex;
    border: .15vw solid #75C7FB;
    background-color: #75C7FB;
    color: #0d0f21;
    font-weight: bold;
    border-radius: 1.5vw;
    height: 2.5vw;
    width: 100%;
    /* margin: auto; */
    margin-top: 2vw;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    padding: .5vw;
}

.submitRoundButton:hover {
    border: .15vw solid #F0F0F0;
    color: black;
    background-color: #F0F0F0;
    text-decoration: none;
    box-shadow: 0 0 .55vw #F0F0F0;
    opacity: 86%;
}



.scorecardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: 12vw 5vw;
    justify-content: center;
    margin: .5vw 0vw 2.5vw 0vw;
    line-height: 1.1;
    
}

/* .wrapper > div{
    background-color: #275694;  
    border: .1vw solid #1d2351;
    color: #fffafa;
}

.wrapper > div:nth-child(odd){
    background-color: #3fbdc2;
    color: #1d2351;
} */

.userScorecard {
    overflow: hidden;
    position: relative;
    margin: 0vw 0vw .2vw 0vw;
    padding: 2vw 3vw 2vw 3vw;
    width: 95%;
    height: 19vw;
    background-color: #0d0f21;
    border: .5vw solid;
    opacity: 99%;
    border-image: 
    linear-gradient(
        #ff512f,    
        #dd2476,
        #1c64ff) 1;
    animation: 
        rotate 3s ease-in infinite;
}


.userScorecard > h3 {
    font-size: 2.2vw;
    color: #f5f5f5;
    /* margin: 1.25vw 2.5vw 1.25vw 2.5vw; */
    display: flex;
    justify-content: center;
}

.scorecardItem {
    display: flex;
    justify-content: center;
    padding: .25vw;
    font-size: 1.2vw;
    border: 1px solid white;
    color:#75C7FB;
}

.scorecardPercValue {
    display: flex;
    justify-content: center;
    padding: .25vw;
    font-weight: bold;
    font-size: 1.3vw;
    color: #f5f5f5;
    border: 1px solid white;
}

.scorecardPercLabel {
    display: flex;
    justify-content: center;
    padding: .25vw;
    font-weight: bold;
    font-size: 1.3vw;
    color: #f5f5f5;
    border: 1px solid white;
}

.filterScorecard {
    font-size: 1vw;
    width: 50%;
    margin: auto;
    margin-top: -.35vw;
    display: flex;
    padding: .35vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #0d0f21;
    opacity: 92%;
    color:#3fbdc2;
    display: flex;
    line-height: .1;
    align-items: center;
}

.filterScorecard label {
    width: 90%;
    display: flex;
    justify-content: center;
}

.filterSelect {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    width: 45%;
    color: #3fbdc2;
    background-color: #0d0f21;
    border-radius: .25vw;
}



@keyframes flyIn {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes rotate {
    50%{
        border-image:
        linear-gradient(
            360deg,
            #ff512f, 
            #dd2476,
            #1c64ff) 1;
    }
}